.Mainwrapper{
    display: flex;
 height: 100%;
justify-content: center;
margin-top: 40px;
width: 100%;

}
.TextfiledFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.Flexdiscrip{
    display: flex;
    align-items: center;
}
.TextfieldStyle{
    background-color: rgb(230, 228, 228);
}
.Descriptionflex{
display: flex;
justify-content: space-between;
}
